<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>Add Book</h1>
    <form action="#" th:action="@{/save}" th:object="${book}" method="post">
        Author: <input type="text" th:field="*{author}"/><br/>
        Title: <input type="text" th:field="*{title}"/><br/>
        ISBN: <input type="text" th:field="*{isbn}"/><br/>
        Year: <input type="text" th:field="*{publicationYear}"/><br/>
        Category:
        <select name="category.id" th:field=*{category}>
            <option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
        </select>
        <input type="submit" value="Save"/>
    </form>
</body>
</html>