<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
        <title>booklist</title>
        <meta http-equiv="Content-Type" content="text/html " charset= "UTF-8">
</head> 
 <body>
    <h1>booklist</h1>
    <div class="authenticated-user">
        <span th:text="${#authentication.name}"></span>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
    </form>
    <table class="table table-striped"> 
        
            <tr>
                <td>Author</td>
                <td>Title</td>
                <td>ISBN</td>
                <td>Year</td>
                <td>Category</td>
                
            </tr>
            <tr th:each = "book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publicationYear != null ? book.publicationYear : ''}"></td>
                <td th:text="${book.category.name}"></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}"class="btn btn-danger">Delete</a></td>
                
                
            </tr>
        
    </table>
    <a href="/add" class="btn btn-success" >Add Book</a>
 </body>

</html>